.neon {
  color: rgba(30, 221, 221, 0.712);
}

.indigo {
  color: rgba(59, 11, 171, 0.776);
}

.neon-shad {
  box-shadow: 3px 3px 30px rgba(30, 221, 221, 0.712);
}

.pink-shad {
  box-shadow: 3px 3px 30px rgba(216, 18, 101, 0.712);
}

.indigo-shad {
  box-shadow: 3px 3px 30px rgba(59, 11, 171, 0.776);
}

.pink {
  color: rgba(216, 18, 101, 0.712);
}

.neon2 {
  color: rgba(26, 158, 224, 0.712);
}

.neon2-shad {
  box-shadow: 3px 3px 30px rgba(26, 158, 224, 0.712);
}
